<div class="row">
    <p class="font-weight-bold">Analysis target:</p>
    <p class="pl-3">{{analysisResult?.target?.name}}</p>
</div>
<div class="row">

</div>
<div class="row">
    <p class="font-weight-bold">Dependencies of target (total {{dependencies.length}}):</p>
</div>
<div class="row">
        <ul>
            <li *ngFor="let d of dependencies | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <span>{{d.name}}</span>
            </li>
        </ul>
</div>
<div class="row pl-4">
    <ngb-pagination *ngIf="dependencies.length > pageSize"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="dependencies.length"></ngb-pagination>
</div>
