<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dependency-heading" jhiTranslate="microcatalogApp.dependency.home.createOrEditLabel">Create or edit a Dependency</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.dependency.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.dependency.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.dependency.source" for="field_source">Source</label>
                    <select class="form-control" id="field_source" name="source" formControlName="source">
                        <option *ngIf="!editForm.get('source')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="microserviceOption.id === editForm.get('source')!.value?.id ? editForm.get('source')!.value : microserviceOption" *ngFor="let microserviceOption of microservices; trackBy: trackById">{{ microserviceOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('source')!.invalid && (editForm.get('source')!.dirty || editForm.get('source')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('source')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.dependency.target" for="field_target">Target</label>
                    <select class="form-control" id="field_target" name="target" formControlName="target">
                        <option *ngIf="!editForm.get('target')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="microserviceOption.id === editForm.get('target')!.value?.id ? editForm.get('target')!.value : microserviceOption" *ngFor="let microserviceOption of microservices; trackBy: trackById">{{ microserviceOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('target')!.invalid && (editForm.get('target')!.dirty || editForm.get('target')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('target')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
