<div class="row">
    <div class="col-3">
        <ngb-accordion [closeOthers]="true" [destroyOnHide]="false" activeIds="general">
            <ngb-panel title="General" id="general">
                <ng-template ngbPanelContent>
                    <jhi-microservice-search (itemSelected)="onMicroserviceSelected($event)">
                    </jhi-microservice-search>
                    <div class="form-check p-0 pt-4 pl-1">
                        <label class="form-check-label">
                            <input type="checkbox" [(ngModel)]="onlyIncomingFilter" (ngModelChange)="onFilterChange()">
                            <span jhiTranslate="microcatalogApp.dashboard.dependency.filter.incoming"></span>
                        </label>
                    </div>
                    <div class="form-check p-0 pt-1 pl-1">
                        <label class="form-check-label">
                            <input type="checkbox" [(ngModel)]="onlyOutgoingFilter" (ngModelChange)="onFilterChange()">
                            <span jhiTranslate="microcatalogApp.dashboard.dependency.filter.outgoing"></span>
                        </label>
                    </div>
                    <div class="pt-4">
                        <button class="btn btn-block btn-success btn-sm" [routerLink]="['/microservice','', 'edit']">
                            Create microservice
                        </button>
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-block btn-success btn-sm" [routerLink]="['/microservice',selectedNodeId(), 'edit']">
                            Edit microservice
                        </button>
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-block btn-success btn-sm" (click)="createDependency()">Create
                            dependency
                        </button>
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-block btn-warning btn-sm" [disabled]="!nodeSelection?.hasNodes()"
                                (click)="deleteMicroservice()">Delete microservice
                        </button>
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-block btn-warning btn-sm" [disabled]="!edgeSelection?.hasEdges()"
                                (click)="deleteDependency()">Delete dependency
                        </button>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="DDD" id="dependency">
                <ng-template ngbPanelContent>
                    <p>DDD is coming soon!</p>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Analysis">
                <ng-template ngbPanelContent>
                    <div class="p-1">
                        <button type="submit" [routerLink]="['/dashboard','release-path', selectedNodeId()]" class="btn btn-block btn-success btn-sm"
                                [disabled]="!nodeSelection">Build release path
                        </button>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

    </div>
    <div class="col-6">
        <div class="p3 vis-network-full-height" #visNetwork></div>
    </div>
    <div class="col-3">
        <jhi-node-legend [nodeSelection]="nodeSelection" [edgeSelection]="edgeSelection"></jhi-node-legend>
    </div>
</div>
