<div class="d-flex flex-row">
    <input class="form-control" type="search"
           placeholder="{{'microcatalogApp.microservice.search.placeholder' | translate}}" aria-label="Search"
           [(ngModel)]="model"
           (ngModelChange)="onModelChanged()"
           [ngbTypeahead]="search"
           [resultFormatter]="formatter"
           [inputFormatter]="inputFormatter"
           (selectItem)="onItemSelected($event.item)"
           (keyup.escape)="clear()"
    />
    <jhi-microservice-group-filter *ngIf="advanced" class="ml-1" (filterChanged)="onFilterChanged($event)"></jhi-microservice-group-filter>
</div>
