<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-microservice-heading" jhiTranslate="microcatalogApp.microservice.home.createOrEditLabel">Create or edit a Microservice</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.microservice.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.microservice.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.microservice.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                           formControlName="imageUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.microservice.swaggerUrl" for="field_swaggerUrl">Swagger Url</label>
                    <input type="text" class="form-control" name="swaggerUrl" id="field_swaggerUrl"
                           formControlName="swaggerUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.microservice.gitUrl" for="field_gitUrl">Git Url</label>
                    <input type="text" class="form-control" name="gitUrl" id="field_gitUrl"
                           formControlName="gitUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.microservice.team" for="field_team">Team</label>
                    <select class="form-control" id="field_team" name="team" formControlName="team">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teamOption.id === editForm.get('team')!.value?.id ? editForm.get('team')!.value : teamOption" *ngFor="let teamOption of teams; trackBy: trackById">{{ teamOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
