<div>
    <h2 id="page-heading">
        <span jhiTranslate="microcatalogApp.releaseGroup.home.title">Release Groups</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-release-group" [routerLink]="['/release-group/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="microcatalogApp.releaseGroup.home.createLabel">
            Create a new Release Group
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="releaseGroups?.length === 0">
        <span jhiTranslate="microcatalogApp.releaseGroup.home.notFound">No releaseGroups found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="releaseGroups && releaseGroups.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="microcatalogApp.releaseGroup.releasePath">Release Path</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let releaseGroup of releaseGroups ;trackBy: trackId">
                    <td><a [routerLink]="['/release-group', releaseGroup.id, 'view']">{{ releaseGroup.id }}</a></td>
                    <td>
                        <div *ngIf="releaseGroup.releasePath">
                            <a [routerLink]="['/release-path', releaseGroup.releasePath?.id, 'view']" >{{ releaseGroup.releasePath?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/release-group', releaseGroup.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/release-group', releaseGroup.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(releaseGroup)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
