<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="releaseStep">
            <h2><span jhiTranslate="microcatalogApp.releaseStep.detail.title">Release Step</span> {{ releaseStep.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="microcatalogApp.releaseStep.workItem">Work Item</span></dt>
                <dd>
                    <div *ngIf="releaseStep.workItem">
                        <a [routerLink]="['/microservice', releaseStep.workItem?.id, 'view']">{{ releaseStep.workItem?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="microcatalogApp.releaseStep.releaseGroup">Release Group</span></dt>
                <dd>
                    <div *ngIf="releaseStep.releaseGroup">
                        <a [routerLink]="['/release-group', releaseStep.releaseGroup?.id, 'view']">{{ releaseStep.releaseGroup?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/release-step', releaseStep.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
