<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-release-step-heading" jhiTranslate="microcatalogApp.releaseStep.home.createOrEditLabel">Create or edit a Release Step</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.releaseStep.workItem" for="field_workItem">Work Item</label>
                    <select class="form-control" id="field_workItem" name="workItem" formControlName="workItem">
                        <option *ngIf="!editForm.get('workItem')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="microserviceOption.id === editForm.get('workItem')!.value?.id ? editForm.get('workItem')!.value : microserviceOption" *ngFor="let microserviceOption of microservices; trackBy: trackById">{{ microserviceOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('workItem')!.invalid && (editForm.get('workItem')!.dirty || editForm.get('workItem')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('workItem')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microcatalogApp.releaseStep.releaseGroup" for="field_releaseGroup">Release Group</label>
                    <select class="form-control" id="field_releaseGroup" name="releaseGroup" formControlName="releaseGroup">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="releaseGroupOption.id === editForm.get('releaseGroup')!.value?.id ? editForm.get('releaseGroup')!.value : releaseGroupOption" *ngFor="let releaseGroupOption of releasegroups; trackBy: trackById">{{ releaseGroupOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
