<div>
    <span class="font-weight-bold">Node selection: </span>
    <br>
    <span>Canvas: {{nodeSelection?.pointer?.canvas?.x}},{{nodeSelection?.pointer?.canvas?.y}}</span>
    <br>
    <span>DOM: {{nodeSelection?.pointer?.DOM?.x}},{{nodeSelection?.pointer?.DOM?.y}}</span>
</div>
<div class="pt-2">
    <span class="font-weight-bold">Edge selection: </span>
    <br>
    <span>Canvas: {{edgeSelection?.pointer?.canvas?.x}},{{edgeSelection?.pointer?.canvas?.y}}</span>
    <br>
    <span>DOM: {{edgeSelection?.pointer?.DOM?.x}},{{edgeSelection?.pointer?.DOM?.y}}</span>
</div>
