<div>
    <h4>Graph legend component</h4>
    <p>Selected nodes: {{nodeSelection?.nodes}}</p>
    <p>Selected edges: {{edgeSelection?.edges}}</p>
    <p>Canvas point: {{nodeSelection?.pointer?.canvas?.x}}, {{nodeSelection?.pointer?.canvas?.y}}</p>
    <p>Dom point: {{nodeSelection?.pointer?.DOM?.x}},{{nodeSelection?.pointer?.DOM?.y}}</p>
</div>
